<%= stylesheet_link_tag 'home' %>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
    <%= link_to "ChatCat", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100" id="navbarNav">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end" id="navbarNav">
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav-item">
            <li>
              <a class="nav-link active" href="#">Test</a>
            </li>
            <li>
              <a class="nav-link" href="#">Test</a>
            </li>
            <li>
              <a class="nav-link" href="#">Test</a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div>
          <p class="border-bottom">test</p>
          <p>test</p>
        </div>
        <div class="message-input-container">
          <input type="text" placeholder="Type a message..." />
          <button>send</button>
        </div>
      </main>
    </div>
  </div>
</body>
