<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="/" class="navbar-brand">
      <span><i class="fas fa-cat"></i></span>
      </span>ChatCat</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="nav navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<%= react_component 'views/Index', { chatChannels: @channels, currentUser: @current_user } %>
