@media (min-width: 768px) {
  [role="main"] {
    padding-top: 65px; /* Space for fixed navbar */
    bottom: 5%;
  }
}

// main {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
// }

.navbar .fa-cat {
  font-size: 28px;
  color: white;
}

.navbar-brand {
  font-weight: 450;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 10px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link .material-icons {
  font-size: 1.5rem;
  vertical-align: middle;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.chat-container {
  height: calc(100vh - 90px);
}

.message-container {
  position: relative;
}

.chat-container p {
  word-wrap: break-word;
}

.chat-container ul {
  list-style: none;
}

.chat-container li {
  width: 100%;
  margin-left: -35px;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
}

.chat-container img {
  width: 55px;
  height: 55px;
}

.chat-container .chat-block {
  vertical-align: top;
}

.chat-container .chat-message-icon {
  float: left;
}

.chat-container .chat-message-body {
  margin-left: 65px;
}

.chat-container .header small {
  margin-left: 5px;
}

.message-input-container {
  position: absolute;
  bottom: 0;
  width: 95%;
}

.message-input-container input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.message-input-container button {
  height: 47px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
