html body {
  background-color: #464951;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #393c42;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e3035;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 65px; /* Space for fixed navbar */
    bottom: 5%;
  }
}

.navbar .fa-cat {
  font-size: 28px;
  color: white;
}

.navbar-brand {
  font-weight: 450;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  // padding: 48px 0 0; /* Height of navbar */
  padding: 57px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  background-color: #2c2d30;
  position: relative;
  top: 0;
  height: calc(100vh - 57px);
  padding-bottom: .7rem;
  overflow: hidden;

  // firefox scrollbar styles
  scrollbar-width: thin;
  scrollbar-color: #1f2123 transparent;
}

.sidebar-sticky:hover {
  overflow-y: auto;
}

.sidebar-sticky::-webkit-scrollbar-thumb {
  background-color: #1f2123;
}

.sidebar-sticky::-webkit-scrollbar-track {
  background-color: transparent;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #c7c8cc;
}

.sidebar .nav-link .feather {
  margin-right: 10px;
  color: #b6b7ba;
}

.sidebar .nav-link.active {
  color: #5165a5;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link .material-icons {
  font-size: 1.5rem;
  vertical-align: middle;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.chat-container {
  padding-top: 5px;
  height: calc(100vh - 90px);
}

.message-container {
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 90px);
  color: white;

  // firefox scrollbar styles
  scrollbar-width: thin;
  scrollbar-color: #2e3035 #393c42;
  
  height: calc(100vh - 150px);
  top: -8px;
  border-bottom: 1px solid #666a72;
}

.chat-container p {
  word-wrap: break-word;
}

.chat-container ul {
  list-style: none;
}

.chat-container li {
  width: 100%;
  margin-left: -35px;
  padding-top: 10px;
  padding-bottom: -5px;
  border-bottom: 1px solid #666a72;
}

.chat-container li.last {
  border: none;
}

.chat-container img {
  width: 55px;
  height: 55px;
}

.chat-container .chat-block {
  vertical-align: top;
}

.chat-container .chat-message-icon {
  float: left;
}

.chat-container .chat-message-body {
  margin-left: 65px;
}

.chat-container .header {
  color: #e2e2e2;

  small {
    margin-left: 5px;
    color: #939393;
  }
}

.message-input-container {
  position: absolute;
  bottom: 0;
  width: 97%;
}

.message-input-container input {
  // background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  background-color: #33353d;
  color: #aeafb2;
  font-size: 15px;
  min-height: 48px;
  width: calc(100vw - 467px);
  border: none;
}

.message-input-container input[type=text]:focus {
  color: #aeafb2;
  background-color: #33353d;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.message-input-container {
  background-color: #33353d;
  border-radius: 5px;
}

.message-input-container button {
  height: 46px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 60px;
  color: whitesmoke;
  background-color: transparent;
  border: none;

  i {
    vertical-align: middle;
  }
}

.message-input-container button:hover, button:focus {
  outline: none;
}

.message-input-container button:hover {
  color: #aeafb2;
  cursor: pointer;
  // outline: none;
}
