#main-region {
  padding-top: 56px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.message-input-container {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
}

.message-input-container input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.message-input-container button {
  height: 50px;
  position: absolute;
  right: 0;
  top: -1px;
  width: 125px;
}
